@using TravelBlog.Models
@using TravelBlog.Services
@inject IImageService _ImageService
@model BlogPost

<style>
    .ck-editor__editable_inline {
        min-height: 300px;
    }
</style>

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BlogPost</h4>
<hr />
<div class="post-single-wrapper axil-section-gap bg-color-white">
    <div class="container">
        <h1>Create</h1>

        <h4>BlogPost</h4>
    </div>
    <hr />
    <main class="container mt-5">

        <form asp-action="Create" asp-controller="BlogPosts" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="form-group">
                        <label asp-for="ImageFile" class="control-label">Blog Post Image</label>
                        <img class="img-fluid border rounded-3 mb-2 border border-1 border-secondary" style="max-height: 350px;" src="@_ImageService.ConvertByteArrayToFile(Model?.ImageData, Model?.ImageType, DefaultImage.BlogPostImage)" id="blogImage">
                        <input asp-for="ImageFile" type="file" class="form-control mt-3 pt-2 border border-1 border-secondary" accept=".png,.jpg,.jpeg,.gif"
                            onchange="document.getElementById('blogImage').src = window.URL.createObjectURL(this.files[0])" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control border border-1 border-secondary" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Abstract" class="control-label"></label>
                        <textarea asp-for="Abstract" class="form-control border border-1 border-secondary" rows="1"></textarea>
                        <span asp-validation-for="Abstract" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label"></label>
                        <select asp-for="CategoryId" class="form-control border border-1 border-secondary" asp-items="ViewBag.CategoryId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tags" class="control-label"></label>
                        <select name="Selected" class="form-control border border-1 border-secondary" asp-items="ViewBag.Tags" size="5" multiple></select>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <textarea asp-for="Content" class="editor form-control border border-1 border-secondary" rows="25"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group d-flex justify-content-end">
                <label class="form-check-label me-4 mt-2" asp-for="IsPublished">Publish?</label>
                <input class="largerCheckbox me-20 border border-1 border-secondary" type="checkbox" asp-for="IsPublished" />
                <span asp-validation-for="IsPublished" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-end">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div class="form-group mt-5 start-0">
            <a asp-action="Index">Back</a>
        </div>
    </main>
</div>


 
<div>
    <a asp-action="Index">Back to List</a>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
@section Scripts {
    <!--CK Editor-->
    <script src="~/vendor/ckeditor5-40-2/build/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('.editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
}
